/* Element Selector */
h1{
    color: blue;
}
p{
    color: red;
}
/* class selector */
.class1{
    color: chartreuse;
}
/* ID Selector */
#id1{
    color: orangered;
}
/* Attribute selector :- draggable, src, href, alt */
p[draggable]{
    color: cyan;
}
/* Universal selector */
*{
    color: black;
}