/* Box SHadow */
.box{
    background-color: aqua;
    height: 30vh;
    width: 30vw;
    padding: 100px;
    border: 2px solid greenyellow;
    margin: auto;
    box-shadow: 5px 5px 15px 5px blueviolet;
}
/* Syntax for shadow */
/* box-shadow: h-offset v-offset blur spread color insert; */
/* Text Shadow */
.text{
    text-shadow: 8px 8px 4px red;
    font-size: 30px;
    outline: 3px solid red;
    outline-offset: 10px;
    /* Using outline-offset property you can set distance between border and outline of that element */
    border: 2px solid green;
}
/* border will be inside and outline will be outside */
/* Synatx for text-shadow */
/* text-shadow: x-offset y-offset blur color; */
/* outline: width style color; */
/* Outline is not a part of box model whereas border is 
Outline cannot have a rounded corner whereas border canvas
Outline have a uniform width on all 4 corners whereas border can have non-uniform width */